name: API Check

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  check-binary-compatibility:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Binary Compatibility Validator
        run: ./gradlew apiCheck
